  
  <!-- /.light-wrapper -->
  <div class="light-wrapper">
    <div class="container inner" style="padding-top:30px;">
      <div><a href="https://www.facebook.com/sbsnow"><img src="/images/logo_f.png" style="width:30px; float:right; margin:5px;"></a><a href="http://www.sbs.co.kr"><img src="/images/logo_t.png" style="width:30px; float:right; margin:5px;"></a></div>
      <div class="clearfix"></div>
      <h1 class="text-center"><img src="/images/hope_logo.png"</h1>
      <br>
      <br>
      <p class="lead text-center" style="font-size:15px; word-break: keep-all;">
        지금까지 <span style="color:#036eb8; font-family:'Nanum Gothic';"><%=@all_count%></span>번의 희망 메시지가 전달되었습니다.</p>
      <div class="clearfix" style="margin:0 auto;">
        <div class="counter-wrapper">
          <ul class="flip-counter small" id="myCounter"style="margin-left:-20px;"></ul>
        </div>
      </div>
      <br>
      <p class="lead text-center" style="font-size:15px; word-break: keep-all; margin-bottom: 5px;">
        <img src="/images/like.png"/> <%=@like_count%>명의 좋아요, <img src="/images/comment.png"/> <%=@comment_count%>개의 댓글, <img src="/images/share.png"/> <%=@share_count%>번의 공유가 모여</p><p class="text-center" style="font-size:20px;">따뜻한 희망을 전합니다.</p>

      <div class="text-center" style="margin-top: 27px;">
        <div class="fb-like" data-href="https://www.facebook.com/sbsnow/videos/993180604026952" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

  </div>

    <!-- /.container --> 
 <div class="portfolio full-portfolio">
      <div class="isotope items">
        <%@users.each do |content|%>
        <%user_id = content["id"]%>
        <div class="item grid-sizer web" style="background:url('https://graph.facebook.com/v2.1/<%=user_id%>/picture?type=large');background-size: 100%;background-position: center; ">
          <figure><a href="https://www.facebook.com/<%=user_id%>" style="color:white;">
            <div class="text-overlay">
              <div class="info"><%=content["name"]%></div>
            </div>
            <img src="/style/images/art/pm2.jpg" alt="" style="opacity: 0;filter: alpha(opacity=0);"/></a></figure>
        </div>
      <%end%>
      </div>
    </div>

  </div>
  <!-- /.light-wrapper -->

  <div class="dark-wrapper">
    <div class="container inner">
      <div class="fb-post" data-href="https://www.facebook.com/sbsnow/videos/993180604026952/" data-width="350"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sbsnow/videos/993180604026952/"><p>[&#039;&#xc88b;&#xc544;&#xc694;&#039;&#xb9cc; &#xb204;&#xb974;&#xba74; &#xae30;&#xbd80;&#xac00; &#xb41c;&#xb2e4;!] 
              #&#xb2ec;&#xc0e4;&#xbcb3; , &#xbc30;&#xc6b0; #&#xae40;&#xc2ac;&#xae30; &#xc640; &#xd568;&#xaed8;&#xd558;&#xb294; #&#xd76c;&#xb9dd;&#xd1a1;&#xd1a1;&#xcea0;&#xd398;&#xc778;! 
              #&#xc5ec;&#xb7ec;&#xbd84;&#xc758; &#xc88b;&#xc544;&#xc694;,&#xb313;&#xae00;,&#xacf5;&#xc720;&#xd558;&#xae30; &#xd55c; &#xbc88;&#xb9c8;&#xb2e4; 100&#xc6d0;&#xc758; &#xd6c4;&#xc6d0;&#xae08;&#xc774; &#xc801;&#xb9bd;&#xb429;&#xb2c8;&#xb2e4;! 
              #&#x2192; &#xd6c4;&#xc6d0;&#xd604;&#xd669; :...</p>Posted by <a href="https://www.facebook.com/sbsnow">SBS</a> on <a href="https://www.facebook.com/sbsnow/videos/993180604026952/">2015년 5월 11일 월요일</a></blockquote></div></div>
      <div class="fb-post" data-href="https://www.facebook.com/sbsnow/videos/993175194027493/" data-width="350"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sbsnow/videos/993175194027493/"><p>[&#039;&#xc88b;&#xc544;&#xc694;&#039;&#xb9cc; &#xb204;&#xb974;&#xba74; &#xae30;&#xbd80;&#xac00; &#xb41c;&#xb2e4;!] 
              #&#xd2f4;&#xd0d1; #&#xb2c8;&#xc5d8; &#xacfc; &#xd568;&#xaed8;&#xd558;&#xb294; #&#xd76c;&#xb9dd;&#xd1a1;&#xd1a1;&#xcea0;&#xd398;&#xc778;! 
              #&#xc5ec;&#xb7ec;&#xbd84;&#xc758; &#xc88b;&#xc544;&#xc694;,&#xb313;&#xae00;,&#xacf5;&#xc720;&#xd558;&#xae30; &#xd55c; &#xbc88;&#xb9c8;&#xb2e4; 100&#xc6d0;&#xc758; &#xd6c4;&#xc6d0;&#xae08;&#xc774; &#xc801;&#xb9bd;&#xb429;&#xb2c8;&#xb2e4;! 
              #&#x2192; &#xd6c4;&#xc6d0;&#xd604;&#xd669; :...</p>Posted by <a href="https://www.facebook.com/sbsnow">SBS</a> on <a href="https://www.facebook.com/sbsnow/videos/993175194027493/">2015년 5월 11일 월요일</a></blockquote></div></div>
      <div class="fb-post" data-href="https://www.facebook.com/sbsnow/videos/991635970848082/" data-width="350"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sbsnow/videos/991635970848082/"><p>[&#039;&#xc88b;&#xc544;&#xc694;&#039;&#xb9cc; &#xb204;&#xb974;&#xba74; &#xae30;&#xbd80;&#xac00; &#xb41c;&#xb2e4;!] 
              #&#xd76c;&#xb9dd;&#xd1a1;&#xd1a1;&#xcea0;&#xd398;&#xc778; &#xb3d9;&#xc601;&#xc0c1;&#xc744; &#039;&#xc88b;&#xc544;&#xc694;&#039; &#xd574;&#xc8fc;&#xc138;&#xc694;! 
              #&#xc5ec;&#xb7ec;&#xbd84;&#xc758; &#xc88b;&#xc544;&#xc694;,&#xb313;&#xae00;,&#xacf5;&#xc720;&#xd558;&#xae30; &#xd55c; &#xbc88;&#xb9c8;&#xb2e4; 100&#xc6d0;&#xc758; &#xd6c4;&#xc6d0;&#xae08;&#xc774; &#xc801;&#xb9bd;&#xb429;&#xb2c8;&#xb2e4;! 
              #&#x2192; &#xd6c4;&#xc6d0;&#xd604;&#xd669; :...</p>Posted by <a href="https://www.facebook.com/sbsnow">SBS</a> on <a href="https://www.facebook.com/sbsnow/videos/991635970848082/">2015년 5월 8일 금요일</a></blockquote></div></div>
      

      <div class="clearfix"></div>
    </div>
  </div>


<div class="light-wrapper">
  <div class="container inner">
    <h3 class="section-title">SBS 희망TV와 함께하는 후원 캠페인</h3>
    <div class="owl-blog">
        <div class="post">
          <figure class="icon-overlay"><a href="http://standus.net/?doc=main"><img src="/images/banner1.jpeg"/></a></figure>
        </div>
        <div class="post">
          <figure class="icon-overlay"><a href="http://www.goodpeople.or.kr/"><img src="/images/banner2.jpeg"/></a></figure>
        </div>
        <div class="post">
          <figure class="icon-overlay"><a href="http://hope.miral.org/"><img src="/images/banner3.jpeg"/></a></figure>
        </div>
        <div class="post">
          <figure class="icon-overlay"><a href="https://www.sc.or.kr/campaign/main.do?BITING=Y"><img src="/images/banner4.jpeg"/></a></figure>
        </div>
    </div>
  </div>
</div> 


  
<script>

  $(function(){

    var myCounter = new flipCounter('myCounter', {value: 0, inc: 100, pace: 1, auto: true, upper: <%=@all_count*100%>});


  });
</script>
    
  
