<!DOCTYPE html>
<html>
<head>
  <title>기부러너즈(Give Runners)</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/style/images/favicon.png">
<!-- Bootstrap core CSS -->
<link href="/style/css/bootstrap.css" rel="stylesheet">
<link href="/style/css/settings.css" rel="stylesheet">
<link href="/style/css/owl.carousel.css" rel="stylesheet">
<link href="/style/css/animsition.min.css" rel="stylesheet">
<link href="/style/css/fotorama.css" rel="stylesheet">
<link href="/style/css/divas.css" rel="stylesheet">
<link href="/style/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="/style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="/style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="/style.css" rel="stylesheet">
<link href="/style/css/color/green.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href="/style/type/fontello.css" rel="stylesheet">
<link href="/style/type/budicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=898299920181621&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%= csrf_meta_tags %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="/style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body class="full-layout">
  <div class="body-wrapper animsition">
    <div class="navbar default centered">
      <div class="navbar-header">
        <div class="container basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"><a href="/"><img src="/style/images/logo.png" alt="" data-src="/images/logo.png" data-ret="/images/logo.png" class="retina" /></a></div>
        </div>
        <!--/.container -->
        <nav class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a>
            <li><a href="/gives/campaigns">Give</a>
            </li>
            <%#
            <li><a href="about.html">About Us</a></li>
            %>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Our SNS</a>
              <ul class="dropdown-menu">
                <li><a href="https://www.facebook.com/groups/sportscharitydream/">FACEBOOK GROUP</a></li>
                <li><a href="https://www.facebook.com/runningcamel">FACEBOOK PAGE</a></li>
              </ul>
            </li>
            <li><a href="/runnings/member">members</a>
            </li>
            <%#
            <li><a href="services.html">Services</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Features</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="#">Sliders</a>
                  <ul class="dropdown-menu">
                    <li><a href="index.html">Revolution Slider</a></li>
                    <li><a href="index2.html">Fotorama</a></li>
                    <li><a href="index5.html">Divas Slider</a></li>
                    <li><a href="portfolio-post.html">Swiper</a></li>
                    <li><a href="portfolio-post3.html">Owl Carousel</a></li>
                  </ul>
                </li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="headings.html">Headings</a></li>
                <li><a href="pricing.html">Pricing Tables</a></li>
                <li><a href="budicon.html">Font Icons - Budicon</a></li>
                <li><a href="fontello.html">Font Icons - Fontello</a></li>
              </ul>
            </li>
            %>
            <%if user_signed_in? %>
               <li><a href="/runnings/mypage">mypage</a></li>
               <li><a href="<%=destroy_user_session_path%>">logout</a></li>
            <%else%>
            <li><a href="<%=user_omniauth_authorize_path(:facebook)%>">logIN</a></li>
            <li><a href="<%=user_omniauth_authorize_path(:facebook)%>">JOIN</a></li>
            <%end%>
          </ul>
        </nav>
      </div>
      <!--/.navbar-header --> 
      
    </div>
    <!--/.navbar -->

    <%= yield %>
  <footer class="footer black-wrapper widget-footer">
    <div class="container inner">
      <div class="thin text-center">
        <h3 class="section-title text-center">Get in Touch with Us</h3>
        <p>기부러너즈는 언제나 열려 있습니다. 어떤 의견이든 감사히 듣겠습니다!</p>
        <div class="divide20"></div>
        <ul class="social">
          <li><a href="http://everunner.com"><i class="icon-s-rss"></i></a></li>
          <li><a href="https://twitter.com/bonafidehun"><i class="icon-s-twitter"></i></a></li>
          <li><a href="http://facebook.com/runningcamel"><i class="icon-s-facebook"></i></a></li>
          <li><a href="http://instagram.com/seunghunkim"><i class="icon-s-instagram"></i></a></li>
        </ul>
        <div class="divide40"></div>
        <div class="contact-info"> <span> 왕십리역과 마장역 사이 나눔 옥탑방</span> <span> <a href="#">bigtory.kim@gmail.com </a></span> </div>
        <!-- .contact-info --> 
        
      </div>
      <!-- .thin --> 
      
    </div>
    <!-- .container -->


    <div class="sub-footer">
      <div class="container">
        <p class="text-center">© 2014 Giverunner. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
      </div>
    </div>
  </footer>
  <!-- /footer --> 

  </div>

<!-- /.body-wrapper --> 
<script src="/style/js/jquery.min.js"></script> 
<script src="/style/js/bootstrap.min.js"></script> 
<script src="/style/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="/style/js/retina.js"></script> 
<script src="/style/js/jquery.slickforms.js"></script> 
<script src="/style/js/jquery.animsition.min.js"></script> 
<script src="/style/js/isotope.pkgd.min.js"></script> 
<script src="/style/js/owl.carousel.min.js"></script> 
<script src="/style/js/instafeed.min.js"></script> 
<script src="/style/js/jquery.easytabs.min.js"></script> 
<script src="/style/js/google-code-prettify/prettify.js"></script> 
<script src="/style/js/fotorama.js"></script> 
<script src="/style/js/jquery.dcflickr.1.0.js"></script> 
<script src="/style/js/idangerous.swiper.min.js"></script> 
<script src="/style/js/jquery.fancybox.pack.js"></script> 
<script src="/style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="/style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="/style/js/jquery.fitvids.js"></script> 
<script src="/style/js/jquery.themepunch.revolution.min.js"></script> 
<script src="/style/js/jquery.themepunch.tools.min.js"></script> 
<script src="/style/js/jquery.divas-1.0.min.js"></script> 
<script src="/style/js/imagesloaded.pkgd.min.js"></script> 
<script src="/style/js/scripts.js"></script>
</body>
</html>
